div.outdated-browsers
  div.outdated-browsers__container
    div.outdated-browsers__header 
      span.outdated-browsers__title Неподдерживаемый браузер
      button.outdated-browsers__close 

    div.outdated-browsers__content
      p.outdated-browsers__text <b>Ваш браузер Internet Explorer устарел и не обеспечивает полноценную и безопасную работу с сайтом.</b>
      p.outdated-browsers__text Установите актуальную версию вашего браузера или одну из современных альтернатив.
      ul.outdated-browsers__list
        li.outdated-browsers__item
          div.outdated-browsers__item-img.outdated-browsers__item-img--yandex
          span.outdated-browsers__item-name Яндекс.Браузер
          a(href="https://browser.yandex.ru/" target='_blank').outdated-browsers__item-link Скачать
        li.outdated-browsers__item
          div.outdated-browsers__item-img.outdated-browsers__item-img--chrome
          span.outdated-browsers__item-name Google Chrome
          a(href="https://www.google.com/intl/ru_ru/chrome/" target='_blank').outdated-browsers__item-link Скачать
        li.outdated-browsers__item
          div.outdated-browsers__item-img.outdated-browsers__item-img--firefox
          span.outdated-browsers__item-name Mozilla Firefox
          a(href="https://www.mozilla.org/ru/firefox/new/" target='_blank').outdated-browsers__item-link Скачать
        li.outdated-browsers__item
          div.outdated-browsers__item-img.outdated-browsers__item-img--opera
          span.outdated-browsers__item-name Opera
          a(href="https://www.opera.com/ru" target='_blank').outdated-browsers__item-link Скачать
