section.main-services
  div.container
    h2.main-services__title Услуги
    ul.main-services__list
      li.main-services__item
        a(href="#").main-services__link 
          p.main-services__name Персональные <br>тренировки
          figure.main-services__banner
            img(src="./assets/images/services-1.png", alt="")
      li.main-services__item
        a(href="#").main-services__link 
          p.main-services__name Детский <br>клуб
          figure.main-services__banner
            img(src="./assets/images/services-2.png", alt="")
      li.main-services__item
        a(href="#").main-services__link 
          p.main-services__name Групповые <br>программы
          figure.main-services__banner
            img(src="./assets/images/services-3.png", alt="")
      li.main-services__item
        a(href="#").main-services__link 
          p.main-services__name КАФЕ
          figure.main-services__banner
            img(src="./assets/images/services-4.png", alt="")
      li.main-services__item
        a(href="#").main-services__link 
          p.main-services__name СПА
          figure.main-services__banner
            img(src="./assets/images/services-5.png", alt="")