div.club-card-new
  div(style='background-color: #F6F6F6;').club-card-new__background
    img(src="./assets/images/club-card-background--black.svg" alt="")

  div.club-card-new__main
    span.club-card-new__title Персона
    span.club-card-new__description Индивидуальные карты для взрослых
    div.club-card-new__time 12 месяцев
      em 30 дней заморозки
    p Дескриптор или УТП, которое описывает деятельность компании в выгодном свете. Дескриптор или УТП, которое описывает деятельность компании в выгодном свете.
    ul 
      li Другое преимущество карты, которое может быть очень длинным
      li Индивидуальная программа
      li Рекомендации по питанию
      li Другое преимущество карты, которое может быть очень длинным
      li Поддержка тренера в мессенджере
      li Другое преимущество карты, которое может быть очень длинным
      li Другое преимущество карты
      li Другое преимущество карты

    div.club-card-new__action
      button(type='button' data-type='card' data-id='1').button-request.button.club-card-new__registration Оформить


div.club-card-new
  div(style='background-color: #DBDBDB;').club-card-new__background
    img(src="./assets/images/club-card-background--black.svg" alt="")

  div.club-card-new__main
    span.club-card-new__title Пара
    span.club-card-new__description Индивидуальные карты для взрослых
    div.club-card-new__time 6 месяцев
      em 21 день заморозки
    p Дескриптор или УТП, которое описывает деятельность компании в выгодном свете. Дескриптор или УТП, которое описывает деятельность компании в выгодном свете.Дескриптор или УТП, которое описывает деятельность компании в выгодном свете. Дескриптор или УТП, которое описывает деятельность компании в выгодном свете.
    ul 
      li Другое преимущество карты, которое может быть очень длинным
      li Индивидуальная программа
      li Рекомендации по питанию

    div.club-card-new__action
      button(type='button' data-type='card' data-id='1').button-request.button.club-card-new__registration Оформить


div.club-card-new
  div(style='background-color: #FFFFFF;').club-card-new__background
    img(src="./assets/images/club-card-background--black.svg" alt="")

  div.club-card-new__main
    span.club-card-new__title Юниоры
    span.club-card-new__description Индивидуальные карты для взрослых
    div.club-card-new__time 3 месяца
      em 21 день заморозки
    p Дескриптор или УТП, которое описывает деятельность компании в выгодном свете.
    ul 
      li Другое преимущество карты, которое может быть очень длинным
      li Индивидуальная программа
      li Рекомендации по питанию

    div.club-card-new__action
      button(type='button' data-type='card' data-id='1').button-request.button.club-card-new__registration Оформить


div.club-card-new
  div(style='background-color: #D60202;').club-card-new__background
    img(src="./assets/images/club-card-background--black.svg" alt="")

  div.club-card-new__main
    span.club-card-new__title Пара
    span.club-card-new__description Семейные карты
    div.club-card-new__time 3 месяца
      em 21 день заморозки
    p Дескриптор или УТП, которое описывает деятельность компании в выгодном свете. Дескриптор или УТП, которое описывает деятельность компании в выгодном свете.Дескриптор или УТП, которое описывает деятельность компании в выгодном свете. Дескриптор или УТП, которое описывает деятельность компании в выгодном свете.
    ul 
      li Другое преимущество карты, которое может быть очень длинным
      li Индивидуальная программа
      li Рекомендации по питанию

    div.club-card-new__action
      button(type='button' data-type='card' data-id='1').button-request.button.club-card-new__registration Оформить


div.club-card-new
  div(style='background-color: #5BC357;').club-card-new__background

  div.club-card-new__main
    span.club-card-new__title Пара
    span.club-card-new__description Семейные карты
    div.club-card-new__time 12 месяцев
      em 21 день заморозки
    p Дескриптор или УТП, которое описывает деятельность компании в выгодном свете.
    ul 
      li Другое преимущество карты, которое может быть очень длинным
      li Индивидуальная программа
      li Рекомендации по питанию
      li Поддержка тренера в мессенджере
      li Другое преимущество карты, которое может быть очень длинным

    div.club-card-new__action
      button(type='button' data-type='card' data-id='1').button-request.button.club-card-new__registration Оформить


div.club-card-new
  div.club-card-new__main
    span.club-card-new__title Юниоры
    span.club-card-new__description Семейные карты
    div.club-card-new__time 12 месяцев
      em 21 день заморозки
    p Дескриптор или УТП, которое описывает деятельность компании в выгодном свете.
    ul 
      li Другое преимущество карты, которое может быть очень длинным
      li Индивидуальная программа
      li Рекомендации по питанию
      li Поддержка тренера в мессенджере
      li Другое преимущество карты, которое может быть очень длинным

    div.club-card-new__action
      button(type='button' data-type='card' data-id='1').button-request.button.club-card-new__registration Оформить


div.club-card-new
  div.club-card-new__main
    span.club-card-new__title Персона
    span.club-card-new__description Семейные карты
    div.club-card-new__time 12 месяцев
      em 21 день заморозки
    p Дескриптор или УТП, которое описывает деятельность компании в выгодном свете.
    ul 
      li Поддержка тренера в мессенджере
      li Индивидуальная программа
      li Рекомендации по питанию
      li Другое преимущество карты, которое может быть очень длинным

    div.club-card-new__action
      button(type='button' data-type='card' data-id='1').button-request.button.club-card-new__registration Оформить


div.club-card-new
  div.club-card-new__background
    img(src="./assets/images/club-card-background--black.svg" style='background-color: #FFFFFF;' alt="")

  div.club-card-new__main
    span.club-card-new__title Пара
    span.club-card-new__description Детские карты
    div.club-card-new__time 3 месяца
      em 21 день заморозки
    p Дескриптор или УТП, которое описывает деятельность компании в выгодном свете. 
    ol 
      li Индивидуальная программа
      li Рекомендации по питанию

    div.club-card-new__action
      button(type='button' data-type='card' data-id='1').button-request.button.club-card-new__registration Оформить


div.club-card-new
  div.club-card-new__background
    img(src="./assets/images/club-card-background--black.svg" style='background-color: #FFFFFF;' alt="")

  div.club-card-new__main
    span.club-card-new__title Юниоры
    span.club-card-new__description Детские карты
    div.club-card-new__time 3 месяца
      em 21 день заморозки
    p Дескриптор или УТП, которое описывает деятельность компании в выгодном свете. 
    ul 
      li Другое преимущество карты, которое может быть очень длинным
      li Индивидуальная программа
      li Рекомендации по питанию

    div.club-card-new__action
      button(type='button' data-type='card' data-id='1').button-request.button.club-card-new__registration Оформить