section.article-action
  div.container
    div.article-action__wrapper
      time(datetime='21.10.2022').article-action__time 21.10.2022
      div.article-action__share
        p.article-action__name Поделиться:
        div.article-action__socials
          +socials({
            ver4: true,
          })