
.back {
  margin-top: 40px;
  margin-bottom: 40px;

  @media(max-width: $phone) {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
  }

  &__link {
    @include Regular_17_Inter_Upper;
    display: block;
    text-decoration: none;
    color: $Black;
    transition: color 0.3s;

    @media(max-width: $phone) {
      font-size: 14px;
      line-height: 21px;
    }

    &:hover {
      @media(min-width: $desktop-only) {
        color: $Main_2;
      }
    }
  }
}