article.vacancy-card
  a(href="#").vacancy-card__link
    h4.vacancy-card__title Название вакансии, которое может быть  длинным
    div.vacancy-card__info
      p Опыт работы от 1 до 3 лет
      p Высшее образование

article.vacancy-card
  a(href="#").vacancy-card__link
    h4.vacancy-card__title Название вакансии
    div.vacancy-card__info
      p Опыт работы от 1 до 3 лет

article.vacancy-card
  a(href="#").vacancy-card__link
    h4.vacancy-card__title Название вакансии, которое может быть  длинным
    div.vacancy-card__info
      p Опыт работы от 1 до 3 лет
      p Высшее образование

article.vacancy-card
  a(href="#").vacancy-card__link
    h4.vacancy-card__title Название вакансии
    div.vacancy-card__info
      p Опыт работы от 1 до 3 лет