section.trainer
  div.container
    div.trainer__wrapper
      div.trainer__header
        h1.trainer__title Константинопольский Константин
        div.trainer__directions
          span.trainer__direction Кросс-фит
          span.trainer__direction Бассейн
          span.trainer__direction Тренажерный зал
          span.trainer__direction Боевые искусства
          span.trainer__direction Конструкт-уходы
          span.trainer__direction Anti-age уходы
          span.trainer__direction массажи
      figure.trainer__banner 
        img(src="./assets/images/services-1.png", alt="")
      div.trainer__main
        div.trainer__block
          h2 Образование
          p Школа бодибилдинга и фитнеса Павла Ершова "Персональный тренер"
        div.trainer__block
          h2 Стаж
          p Тренерский стаж с 2014 г.
        div.trainer__block
          h2 Достижения
          ul
            li Достижение, описание которого может быть очень длинным
            li Достижение с длинным описанием
            li Достижение, описание которого может быть очень, очень, ну прям очень длинным
            li Достижение, описание которого может быть очень длинным
      div.trainer__nav
        a(href="#" data-type='trainer' data-id='1').button-request.button.button--black Записаться
        a(href="#").button Смотреть расписание