.article {

  & h2:not([class]):first-child,
  & h3:not([class]):first-child,
  & h4:not([class]):first-child,
  & h5:not([class]):first-child,
  & h6:not([class]):first-child,
  & p:not([class]):first-child,
  & b:not([class]):first-child,
  & ul:not([class]):first-child,
  & ol:not([class]):first-child,
  & a:not([class]):first-child,
  & figure:first-child,
  & .article__table:first-child,
  & .article__quote:first-child,
  & .article__grid:first-child,
  & .video:first-child {
    margin-top: 0;
  }

  & h2:not([class]):last-child,
  & h3:not([class]):last-child,
  & h4:not([class]):last-child,
  & h5:not([class]):last-child,
  & h6:not([class]):last-child,
  & p:not([class]):last-child,
  & b:not([class]):last-child,
  & ul:not([class]):last-child,
  & ol:not([class]):last-child,
  & a:not([class]):last-child,
  & figure:last-child,
  & .article__table:last-child,
  & .article__quote:last-child,
  & .article__grid:last-child,
  & .video:last-child {
    margin-bottom: 0;
  }

  figure {
    margin-top: 100px;
    margin-right: 0;
    margin-bottom: 100px;
    margin-left: 0;

    @media(max-width: $tablet) {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    @media(max-width: $phone) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 10px;
      overflow: hidden;
    }
  }

  figcaption {
    @include Regular_14_Inter;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    color: $Black;

    @media(max-width: $phone) {
      margin-top: 10px;
    }
  }

  img {
    display: block;
  }

  em {
    font-style: normal;
    color: $Main_2;
  }

  h2 {
    @include Bold_40_europeext_upper;
    max-width: 850px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 30px;

    @media(max-width: $phone) {
      margin-top: 32px;
      margin-bottom: 12px;
    }
  }

  h3 {
    @include Bold_22_Europeext_Upper;
    max-width: 850px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 30px;

    @media(max-width: $phone) {
      margin-top: 32px;
      margin-bottom: 12px;
    }
  }

  h4 {
    @include Bold_20_Europeext_Upper;
    max-width: 850px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 30px;

    @media(max-width: $phone) {
      margin-top: 32px;
      margin-bottom: 12px;
    }
  }

  h5,
  h6 {
    @include Bold_18_Europeext_Upper;
    max-width: 850px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 30px;

    @media(max-width: $phone) {
      margin-top: 32px;
      margin-bottom: 12px;
    }
  }

  p:not([class]) {
    @include Regular_20_Inter;
    max-width: 850px;
    margin: 0;
    margin-bottom: 15px;

    @media(max-width: $phone) {
      margin-bottom: 10px;
    }

    b {
      display: inline;
      font-weight: 700;
    }
  }

  b {
    @include Regular_20_Inter;
    display: block;
    max-width: 850px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;

    @media(max-width: $phone) {
      margin-bottom: 16px;
    }
  }

  a:not([class]) {
    text-decoration: underline;
    color: $Main_2;

    &:hover {
      @media(min-width: $desktop-only) {
        text-decoration: none;
      }
    }
  }

  ul:not([class]),
  ol:not([class]) {
    max-width: 850px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    list-style: none;

    @media(max-width: $phone) {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    li {
      @include Regular_20_Inter;
      position: relative;
      margin: 0;
      margin-bottom: 5px;
      padding: 0;
      padding-left: 20px;

      @media(max-width: $phone) {
        margin-bottom: 5px;
        padding-left: 20px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        left: 0;
        font-size: 120%;
        font-weight: 700;
        content: '•';
      }
    }
  }

  table {
    @include Regular_16_Inter;
    width: 100%;
    border-collapse: collapse;
  }

  th {
    @include Regular_14_Inter;
    min-width: 220px;
    padding-top: 17px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 15px;
    border: 1px solid $Black;
    text-align: left;
    color: $White;
    background-color: $Black;

    @media(max-width: $phone) {
      min-width: 120px;
      padding-top: 8px;
      padding-right: 10px;
      padding-bottom: 8px;
      padding-left: 10px;
      font-size: 12px;
      line-height: 15px;
    }

    &:first-of-type {
      // padding-left: 0;
    }

    &:last-of-type {
      // padding-right: 0;
      text-align: right;
    }
  }

  td {
    padding-top: 11px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-left: 15px;
    border: 1px solid $Black;
    text-align: left;
    color: $Black;

    @media(max-width: $phone) {
      padding-top: 8px;
      padding-right: 10px;
      padding-bottom: 8px;
      padding-left: 10px;
      font-size: 12px;
      line-height: 15px;
    }

    &:first-of-type {
      // padding-left: 0;
    }

    &:last-of-type {
      // padding-right: 0;
      text-align: right;
    }
  }

  .video {

    p {
      @include Regular_14_Inter;
      margin: 0;
      margin-top: 20px;
      padding: 0;
      color: $Black;

      @media(max-width: $phone) {
        margin-top: 10px;
      }
    }
  }

  &__grid {
    display: grid;
    margin-top: 100px;
    margin-bottom: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;

    @media(max-width: $tablet) {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    @media(max-width: $phone) {
      margin-top: 40px;
      margin-bottom: 40px;
      grid-template-columns: 1fr;
      grid-row-gap: 16px;
    }

    figure {
      margin: 0;

      @media(max-width: $phone) {
        order: -1;
      }
    }

    &>div {
      align-self: center;
    }
  }

  &__table {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    overflow-y: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    @media(max-width: $tablet) {
      margin-top: 60px;
      margin-right: -30px;
      margin-bottom: 60px;
      margin-left: -30px;
      padding-right: 30px;
      padding-left: 30px;
    }

    @media(max-width: $phone) {
      margin-top: 40px;
      margin-right: -15px;
      margin-bottom: 40px;
      margin-left: -15px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__blockquote {
    position: relative;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    border: 1px solid $Grey_3;
    background-color: $White;

    @media(max-width: $tablet) {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    @media(max-width: $phone) {
      margin-top: 40px;
      margin-bottom: 40px;
      padding-top: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
    }

    &:before {
      @include Bold_italic_130_europeext_upper;
      position: absolute;
      top: -45px;
      left: 40px;
      color: $Grey_3;
      content: '“';

      @media(max-width: $tablet) {
        top: -25px;
      }

      @media(max-width: $phone) {
        font-size: 40px;
        line-height: 45px;
      }
    }

    p {
      @include Bold_Italic_20_Europeext_upper;
      max-width: unset;

      @media(max-width: $phone) {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  &__blockquote-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 40px;

    @media(max-width: $phone) {
      grid-row-gap: 24px;
    }
  }

  &__blockquote-name {
    margin: 0 !important;
    font-family: $title-font;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 20px !important;
    text-align: right;
    text-transform: uppercase;

    @media(max-width: $phone) {
      font-size: 12px !important;
      font-weight: 500 !important;
      line-height: 15px !important;
    }
  }

  &__blockquote-position {
    margin: 0 !important;
    font-family: $title-font;
    font-size: 12px !important;
    line-height: 20px !important;
    text-align: right;
    color: $Grey_1;
    text-transform: uppercase;

    @media(max-width: $phone) {
      font-size: 10px !important;
      font-weight: 500 !important;
      line-height: 15px !important;
    }
  }
}