include ../video/video

mixin article(props)
  section.article
    if props.vacancy
      h2 H2 Заголовок
      h3 H3 Заголовок
      h4 H4 Заголовок
      h5 H5 Заголовок
      p Благодаря профессионализму наших сотрудников, их идеям, а также качественному сервису, мы стали признанным лидером в мировой фитнес-индустрии. Мы всегда стремимся найти лучшие решения: творчество и инновации свойственны всему, что мы делаем.
      h3 H3 Заголовок
      b Список достижений
      ul 
        li Достижение 1
        li Достижение 2
        li Достижение 3
        li Достижение 4
      p 
        a(href="#") Ссылка

      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя <a href='#'>передовые технологии</a> и <a href='#'>опыт сплоченной команды профессионалов</a>. 
      h3 H3 Заголовок
      p Благодаря профессионализму наших сотрудников, их идеям, а также качественному сервису, мы стали признанным лидером в мировой фитнес-индустрии. Мы всегда стремимся найти лучшие решения: творчество и инновации свойственны всему, что мы делаем.
      p
        b Благодаря профессионализму наших сотрудников, их идеям, а также качественному сервису, мы стали признанным лидером в мировой фитнес-индустрии. Мы всегда стремимся найти лучшие решения: творчество и инновации свойственны всему, что мы делаем.
      p 
        i Благодаря профессионализму наших сотрудников, их идеям, а также качественному сервису, мы стали признанным лидером в мировой фитнес-индустрии. Мы всегда стремимся найти лучшие решения: творчество и инновации свойственны всему, что мы делаем.
      p
        b 
          i Благодаря профессионализму наших сотрудников, их идеям, а также качественному сервису, мы стали признанным лидером в мировой фитнес-индустрии. Мы всегда стремимся найти лучшие решения: творчество и инновации свойственны всему, что мы делаем.
      p
        i 
          b Благодаря профессионализму наших сотрудников, их идеям, а также качественному сервису, мы стали признанным лидером в мировой фитнес-индустрии. Мы всегда стремимся найти лучшие решения: творчество и инновации свойственны всему, что мы делаем.
      h4 H4 Заголовок
      p 
        i Благодаря профессионализму наших сотрудников, их идеям, а также качественному сервису, мы стали признанным лидером в мировой фитнес-индустрии. Мы всегда стремимся найти лучшие решения: творчество и инновации свойственны всему, что мы делаем.
      h5 H5 Заголовок
      ol 
        li Достижение 1
        li Достижение 2
        li Достижение 3
        li Достижение 4


    if props.article
      h2 H2 Заголовок
      h3 H3 Заголовок
      h4 H4 Заголовок
      h5 H5 Заголовок
      p Благодаря профессионализму наших сотрудников, их идеям, а также качественному сервису, мы стали признанным лидером в мировой фитнес-индустрии. Мы всегда стремимся найти лучшие решения: творчество и инновации свойственны всему, что мы делаем.
      h3 H3 Заголовок
      b Список достижений
      ul 
        li Достижение 1
        li Достижение 2
        li Достижение 3
        li Достижение 4
      p 
        a(href="#") Ссылка
      figure 
        img(src="./assets/images/banner/banner-3.jpg", alt="")
        figcaption Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов.

      div.article__grid
        figure
          img(src="./assets/images/image-15.jpg" alt="")
        div
          h2 H2 Заголовок длинный в две строки
          p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.

      div.article__grid
        div
          h2 H2 Заголовок
          p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий.
        figure
          img(src="./assets/images/image-16.jpg" alt="")

      div.article__table
        table(width="100%" cellpadding="0" cellspacing="0" border="0")
          thead 
            tr 
              th Текст в столбца
              th Текст в столбца
              th Текст в столбца
              th Текст в столбца
              th Длинный длинный текст в столбца
          tbody 
            tr 
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Длинный длинный текст в строке
            tr 
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Длинный длинный текст в строке
            tr 
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Длинный длинный текст в строке
            tr 
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Длинный длинный текст в строке

      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя <a href="#" target="_blank" rel="noopener noreferrer">передовые технологии</a> и <a href="#" target="_blank" rel="noopener noreferrer">опыт сплоченной команды</a> профессионалов.

      blockquote.article__blockquote
        div.article__blockquote-wrapper
          div
            p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов. 
          div
            p.article__blockquote-name Христорождественский Константин
            p.article__blockquote-position Генеральный директор

      +video({
        link: 'Tm-UXJZDKDQ',
        text: 'SAKURAZUKA 【桜塚】~ ☯Japanese Trap & Bass Type Beat ☯ Trapanese Hip Hop Mix',
      })


    if props.equipment
      h2 H2 Заголовок
      h3 H3 Заголовок
      h4 H4 Заголовок
      h5 H5 Заголовок
      p Благодаря профессионализму наших сотрудников, их идеям, а также качественному сервису, мы стали признанным лидером в мировой фитнес-индустрии. Мы всегда стремимся найти лучшие решения: творчество и инновации свойственны всему, что мы делаем.
      h3 H3 Заголовок
      b Список достижений
      ul 
        li Достижение 1
        li Достижение 2
        li Достижение 3
        li Достижение 4
      p 
        a(href="#") Ссылка

      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя <a href='#'>передовые технологии</a> и <a href='#'>опыт сплоченной команды профессионалов</a>. 
      h3 H3 Заголовок
      p Благодаря профессионализму наших сотрудников, их идеям, а также качественному сервису, мы стали признанным лидером в мировой фитнес-индустрии. Мы всегда стремимся найти лучшие решения: творчество и инновации свойственны всему, что мы делаем.


    if props.cards
      div.article__grid
        figure
          img(src="./assets/images/image-15.jpg" alt="")
        div
          p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.
          p
            a(href="#") Смотреть все карты
          a(href="#").button Смотреть все карты

   
    if props.cards2
      div.article__grid
        figure
          img(src="./assets/images/image-15.jpg" alt="")
        div
          h2 Выбери свою клубную карту
          p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.
          p
            a(href="#") Смотреть все карты
          a(href="#").button Смотреть все карты