mixin politics(props)
  if props.offer
    section.politics
      p г. Москва&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;от 01 января 2022 г.
      br
      p Настоящий Договор является официальным предложением (публичной офертой) {Наименование компании}. Адрес: sitename.ru , в дальнейшем «Продавец», для любого физического или юридического лица (далее – «Покупатель»), которое примет настоящее предложение, на указанных ниже условиях. Настоящая Оферта действует на всей территории Российской Федерации с даты опубликования.
      ol 
        li Общие положения
          ol 
            li В соответствии с п. 2 ст. 437 Гражданского Кодекса Российской Федерации (ГК РФ) содержащее все существенные условия договора предложение, из которого усматривается воля лица, делающего предложение, заключить договор на указанных в предложении условиях с любым, кто отзовется, признается офертой (публичной офертой), а совершение лицом, получившим оферту, действий по выполнению указанных в ней условий считается заключением договора лицом, совершившим указанное действие, с лицом, сделавшим соответствующее предложение.
            li Настоящий документ является публичной офертой, т.е. предложением Продавца о заключении с любым физическим лицом договора розничной купли-продажи товаров на основании ознакомления с описанием товара, представленного на Сайте.
            li Обязательства Продавца по передаче Товара и иные обязательства, связанные с передачей Товара, возникают с момента заключения договора розничной купли-продажи Товара на условиях настоящей Оферты. дминистрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.
            li Лицо, согласное с изложенными ниже условиями настоящей Оферты и всех её приложений, имеет возможность заключить с Продавцом договор розничной купли-продажи Товара, описание которого представлено на Сайте. При этом, в соответствии с п. 3 ст. 438, ст. 493 ГК РФ,  и п. 20 Правил дистанционной продажи, а также с учетом того, что достоверно установить лицо, являющееся Покупателем, возможно только после совершения указанным лицом действий, направленных на оплату Товара *, момент заключения указанным лицом договора розничной купли-продажи с Продавцом на условиях, изложенных в настоящей Оферте, зависит от тех условий, на которых Покупатель согласен приобрести Товар в случае приобретения Товара на условиях предварительной оплаты - с момента получения Продавцом соответствующего сообщения о намерении Покупателя приобрести Товар, сопровождающегося действиями, направленными на оплату Товара;предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
      p Учитывая важность вышеизложенного, лицу, заинтересованному в покупке Товара на условиях, зафиксированных в настоящей Оферте, настоятельно рекомендуется внимательно ознакомиться с ее текстом, и в случае

  else if props.agreement
    section.politics
      p Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта — sitename.ru «Сайт»).
      ol 
        li Общие условия
          ol 
            li Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.
            li Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.
            li Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.
        li Обязательства Пользователя
          ol 
            li Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторскихи/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.
            li Использование материалов Сайта без согласия правообладателей не допускается (статья 1270 Г.К РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.
            li При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274 Г.К РФ).
            li Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.
            li Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.
            li Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прави сведениями о такой регистрации, товарами или услугами

  else if props.privacy
    section.politics
      p г. Москва&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;от 01 января 2022 г.
      br
      p Общество с ограниченной ответственностью “Наименование”
      p ИНН: 123456789
      p ОГРН: 12345678123456789
      br
      p Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, расположенной на доменном имени <a href='' target='_blank'>http://saitname.ru/</a>, которую можно получить о Пользователе во время использования данного сайта, программ и продуктов.
      ol 
        li Опредиление терминов
          ol
            li В настоящей Политике конфиденциальности используются следующие термины:
              ol 
                li «Администрация сайта <a href='' target='_blank'>http://saitname.ru/</a> (далее – Администрация сайта, Оператор)» – ООО “ПЯТЬ УГЛОВ”, которое организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
                li «Персональные данные» – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
                li «Обработка персональных данных» – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                li «Конфиденциальность персональных данных» – обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                li «Пользователь сайта <a href='' target='_blank'>http://saitname.ru/</a> (далее Пользователь, Субъект персональных данных)» – лицо, имеющее доступ к сайту, посредством сети Интернет и использующее сайт.
                li «Cookies» – небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта...
        li Общие условия
          ol 
            li Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.
            li Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.
            li Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.
        li Частные условия
          ul 
            li Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.
            li Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.
            li Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.
        li Обязательства Пользователя
        li Обязательства Пользователя
          ol 
            li Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторскихи/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.
            li Использование материалов Сайта без согласия правообладателей не допускается (статья 1270 Г.К РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.
            li При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274 Г.К РФ).
            li Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.
            li Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.
            li Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прави сведениями о такой регистрации, товарами или услугами


