section.equipment
  div.container
    div.swiper.equipment__gallery
      div.equipment__buttons
        button(type='button' aria-label='Предыдущий слайд.').equipment__button.equipment__button--prev
          svg(width="59" height="59" viewBox="0 0 59 59" xmlns="http://www.w3.org/2000/svg")
            use(href='#icon-up')

        button(type='button' aria-label='Следующий слайд.').equipment__button.equipment__button--next
          svg(width="59" height="59" viewBox="0 0 59 59" xmlns="http://www.w3.org/2000/svg")
            use(href='#icon-up')
      div.swiper-wrapper
        <!-- Рекомендуемый размер картинок 1200х675. -->
        div.swiper-slide.equipment__image
          img(src="./assets/images/wallpaper/wallpaper-1.PNG" alt="" data-original="./assets/images/wallpaper/wallpaper-1.PNG")
        div.swiper-slide.equipment__image
          img(src="./assets/images/wallpaper/wallpaper-2.PNG" alt="" data-original="./assets/images/wallpaper/wallpaper-2.PNG")
        div.swiper-slide.equipment__image
          img(src="./assets/images/wallpaper/wallpaper-3.PNG" alt="" data-original="./assets/images/wallpaper/wallpaper-3.PNG")
        div.swiper-slide.equipment__image
          img(src="./assets/images/wallpaper/wallpaper-5.PNG" alt="" data-original="./assets/images/wallpaper/wallpaper-5.PNG")
        div.swiper-slide.equipment__image
          img(src="./assets/images/wallpaper/wallpaper-7.PNG" alt="" data-original="./assets/images/wallpaper/wallpaper-7.PNG")
        div.swiper-slide.equipment__image
          img(src="./assets/images/wallpaper/wallpaper-19.PNG" alt="" data-original="./assets/images/wallpaper/wallpaper-19.PNG")
        div.swiper-slide.equipment__image
          img(src="./assets/images/wallpaper/wallpaper-15.PNG" alt="" data-original="./assets/images/wallpaper/wallpaper-15.PNG")
        div.swiper-slide.equipment__image
          img(src="./assets/images/wallpaper/wallpaper-8.PNG" alt="" data-original="./assets/images/wallpaper/wallpaper-8.PNG")
        div.swiper-slide.equipment__image
          img(src="./assets/images/wallpaper/wallpaper-18.PNG" alt="" data-original="./assets/images/wallpaper/wallpaper-18.PNG")
        div.swiper-slide.equipment__image
          img(src="./assets/images/wallpaper/wallpaper-21.PNG" alt="" data-original="./assets/images/wallpaper/wallpaper-21.PNG")
    div.equipment__scrollbar
