
.not-found {
  margin-top: 120px;
  margin-bottom: 40px;

  @media(max-width: $tablet) {
    margin-top: 70px;
  }
  @media(max-width: $phone) {
    margin-top: 48px;
    margin-bottom: 24px;
  }

  &__title {
    @include Bold_italic_130_europeext_upper;
    margin: 0;
    text-align: center;
  }
}