section.popUp.cookie
  div.popUp__overlay.cookie__overlay
  div.container
    div.popUp__wrapper.cookie__wrapper
      div.cookie__header 
        h2.cookie__title Мы используем cookies!
        button(type="button" aria-label="Закрыть").popUp__close.cookie__close
          span
      div.cookie__main
        p Мы используем cookies, чтобы пользоваться сайтом было удобно. Более подробную информацию можно найти в <a href="#" target="_blank" rel=" noopener noreferrer">Политике конфиденциальности</a>.