extends ../templates/default

block main
  include ../components/breadcrumbs/breadcrumbs

  +article-title({
    title: 'Пользовательское соглашение',
  })

  +layout({})
    +politics({
      agreement: true,
    })