extends ../templates/default

block main
  include ../components/breadcrumbs/breadcrumbs
  +title({
    title: 'Клубные карты'
  })

  +tabs({
    tabs: [
      {
        active: true,
        link: 'Все карты'
      },
      {
        link: 'Индивидуальные карты для взрослых'
      },
      {
        link: 'Семейные карты'
      },
      {
        link: 'Детские карты'
      },
    ]
  })

  +direction-tabs({
    tabs: [
      {
        active: true,
        link: 'Все карты'
      },
      {
        link: 'Индивидуальные карты для взрослых'
      },
      {
        link: 'Семейные карты'
      },
      {
        link: 'Детские карты'
      },
    ]
  })

  +layout({
    grid3: true,
    pagination: true,
  })
    include ../components/club-card-new/club-card-new

  include ../components/bottom-nav/bottom-nav
