extends ../templates/default

block main
  include ../components/breadcrumbs/breadcrumbs
  +title({
    title: 'Контакты'
  })

  include ../components/contacts/contacts

  include ../components/contacts-map/contacts-map

  include ../components/bottom-nav/bottom-nav