extends ../templates/default

include ../components/request-wrapper/request-wrapper
include ../components/slider/slider

block main

  +layout({})
    +request-wrapper({
      slider: true,
      title: 'Оставьте заявку',
    })

  +layout({})
    +request-wrapper({
      banner: true,
      title: 'Оставьте заявку',
    })


  +layout({
    title: 'Запись на пробную<br> тренировку в клуб',
  })
    +request({})


  +layout({})
    +request({
      title: 'Запись на пробную<br> тренировку в клуб',
    })


  +layout({})
    +slider({
      type: 'carousel',
      zone: true,
    })

  +layout({})
    +slider({
      banner: true,
    })

  +layout({
    title: 'Выбери свою клубную карту',
  })
    +article({
      cards: true,
    })

  +layout({})
    +article({
      cards2: true,
    })

  +layout({
    title: 'Отзывы',
  })
    +slider({
      type: 'carousel',
      review: true,
    })

