<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- favicons
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="./assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="./assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    //- favicons

    title Sokfit

  body(style='margin-left: 20px; color: #000000; background-color: #ffffff;')
      h1 Sokfit
      ul(style="flex-grow: 1;")
        li
          a(href="./start.html" tabindex="-1") Заглушка
        li
          a(href="./main.html" tabindex="-1") Главная
        li
          a(href="./services-1.html" tabindex="-1") Услуги (Персональные тренировки)
        li
          a(href="./services-2.html" tabindex="-1") Услуги (Кафе)
        li
          a(href="./services-3.html" tabindex="-1") Услуги (СПА)
        li
          a(href="./trainers-1.html" tabindex="-1") Тренерский состав
        li
          a(href="./trainer-1.html" tabindex="-1") Тренерский состав (Детальная)
        li
          a(href="./jobs-1.html" tabindex="-1") Вакансии
        li
          a(href="./jobs-2.html" tabindex="-1") Вакансии (Пусто)
        li
          a(href="./vacancy.html" tabindex="-1") Вакансия
        li
          a(href="./contacts.html" tabindex="-1") Контакты
        li
          a(href="./error.html" tabindex="-1") Ошибка 404
        li
          a(href="./agreement.html" tabindex="-1") Пользовательское соглашение
        li
          a(href="./contract-offer.html" tabindex="-1") Договор оферты
        li
          a(href="./privacy.html" tabindex="-1") Политика конфиденциальности
        li
          a(href="./news-1.html" tabindex="-1") Новости
        li
          a(href="./news-2.html" tabindex="-1") Новости (Пусто)
        li
          a(href="./news-3.html" tabindex="-1") Новости (Детальная)
        li
          a(href="./cards.html" tabindex="-1") Клубные карты
        li
          a(href="./equipment.html" tabindex="-1") Оборудование и тренажеры
