extends ../templates/default

include ../components/moving/moving
include ../components/request-wrapper/request-wrapper

block main

  include ../components/banner/banner

  +layout({})
    +request-wrapper({
      slider: true,
      title: 'Оставьте заявку',
    })

  //- include ../components/start/start

  include ../components/main-about/main-about

  +moving({
    ver1: true,
  })

  include ../components/main-why/main-why

  include ../components/main-services/main-services

  include ../components/alarm/alarm

  include ../components/main-trainers/main-trainers

  include ../components/main-cards/main-cards

  //- +moving({
  //-   ver2: true,
  //- })

  include ../components/main-news/main-news

  include ../components/main-questions/main-questions

  include ../components/bottom-nav/bottom-nav