extends ../templates/default

block main
  include ../components/breadcrumbs/breadcrumbs

  +article-title({
    title: 'Политика конфиденциальности',
  })

  +layout({})
    +politics({
      privacy: true,
    })