extends ../templates/default

block main
  include ../components/breadcrumbs/breadcrumbs

  include ../components/back/back

  include ../components/trainer/trainer

  +layout({
    slider1: true,
    title: 'Другие тренеры',
  })