.modal {

  .button {
    width: 100%;
  }

  .request-wrapper {
    gap: 30px;

    @media(max-width: $phone) {
      grid-gap: 16px;
    }
  }

  .request {
    &__title {
      padding-right: 40px;
    }
  }

  .review-card,
  .zone-card {
    width: 100%;
    flex-direction: row;
    padding: 0;
    background: 0;

    @media(max-width: $phone) {
      flex-direction: column;
    }

    &__content {
      display: unset;
    }

    &__more {
      display: none;
    }

    &__banner {
      width: 300px;

      @media(max-width: $tablet) {
        width: 220px;
        height: 220px;
      }
    }
  }

  &__container {
    position: relative;
    padding: 30px;
    box-sizing: border-box;

    @media(max-width: $phone) {
      padding: unset;
    }
  }

  &__wrapper {
    position: relative;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: $White;
    border-radius: 20px;
    gap: 16px;

    @media(max-width: $phone) {
      min-height: calc(var(--vh, 1vh) * 100);
      padding: 20px;
      border-radius: unset;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: $Black;
    background-color: transparent;
    transition:
      transform 0.5s,
      color 0.3s;
    will-change: transform;
    outline: none;
    cursor: pointer;

    @media(max-width: $phone) {
      top: 15px;
      right: 15px;
      width: 30px;
      height: 30px;
      background-color: $Grey_2;
      border-radius: 50%;
    }

    &:hover {
      @media(min-width: $desktop-only) {
        color: $Main_2;
        transform: rotate(90deg);
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 2px;
      background: transparent;
      vertical-align: bottom;

      @media(max-width: $phone) {
        width: 20px;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        content: '';
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        content: '';
        transform: rotate(-45deg);
      }
    }
  }

  &__title {
    @include Bold_30_europeext_upper;
    margin: 0;
    padding-right: 30px;
  }

  &--slide {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;



    .request {
      &__title {
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.2s ease 0.3s,
          transform 0.2s ease 0.3s;

        @media(max-width: $tablet) {
          transform: unset;
        }
      }

      &__form {
        transition:
          opacity 0.2s ease 0.1s,
          transform 0.2s ease 0.1s;
        opacity: 0;
        transform: translateY(-20px);

        @media(max-width: $tablet) {
          transform: unset;
        }
      }
    }

    .popUp {

      &__container {

        &--in {
          animation: modal-in 0.3s;
        }

        &--out {
          animation: modal-out 0.3s 0.3s;

          .modal__close span {
            color: transparent;
            transition: color 0.3s 0.3s;

            &:before {
              transition:
                background-color 0.3s,
                transform 0.3s;
              transform: unset !important;
            }

            &:after {
              transition:
                background-color 0.3s,
                transform 0.3s;
              transform: unset !important;
            }
          }

          .request__title {
            opacity: 0 !important;
            transform: translateY(-20px) !important;
            transition-delay: unset !important;

            @media(max-width: $tablet) {
              transform: unset;
            }
          }

          .request__form {
            opacity: 0 !important;
            transform: translateY(-20px) !important;
            transition-delay: unset !important;

            @media(max-width: $tablet) {
              transform: unset;
            }
          }
        }
      }
    }

    &.popUp--active {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;

      .modal__close {
        color: $Black;
        transition: color 0.3s 0.3s;

        span {

          &:before {
            transform: rotate(-45deg);
          }

          &:after {
            transform: rotate(-135deg);
          }
        }
      }

      .request__title {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.3s;
      }

      .request__form {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.5s;
      }
    }

    .modal {

      &__container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        display: grid;
        width: 750px;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      &__wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: min-content 1fr;
        padding: 0;
        column-gap: 20px;
        border-radius: unset;
      }

      &__main {
        padding-top: 150px;
        padding-right: 50px;
        padding-bottom: 30px;
        padding-left: 0;
      }

      &__close {
        position: unset;
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: 20px;
        padding: 0;
        border: 0;
        color: transparent;
        transition: color 0.3s;
        transform-origin: 50% 50%;
        cursor: pointer;
        user-select: none;
        background: 0;
        flex-shrink: 0;
        order: 0;

        @media(max-width: $phone) {
          width: 30px;
          height: 30px;
          margin-top: 20px;
          margin-right: 16px;
          margin-left: auto;
          order: 1;
        }

        &:hover {
          @media(min-width: $desktop-only) {
            color: $Main_2;
          }
        }

        span {
          position: relative;
          width: 40px;
          height: 2px;

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: currentcolor;
            transform: unset;
            transition:
              background-color 0.3s 0.3s,
              transform 0.3s 0.5s;
            content: '';

            @media(max-width: $tablet) {
              transition-delay: 0.3s;
            }
          }

          &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: currentcolor;
            transform: unset;
            transition:
              background-color 0.3s 0.3s,
              transform 0.3s 0.5s;
            content: '';

            @media(max-width: $tablet) {
              transition-delay: 0.3s;
            }
          }
        }
      }
    }
  }
}