mixin modal(props)
            
  if props.card
    section.popUp.modal.modal--card
      div.popUp__overlay.modal__overlay
      section.popUp__container.modal__container
        div.popUp__wrapper.modal__wrapper
          button.popUp__close.modal__close
            span
          include ../request-wrapper/request-wrapper