section.job-benefits
  div.container
    div.job-benefits__wrapper
      h2.job-benefits__title Преимущества <br>работы у нас
      ul.job-benefits__list
        li.job-benefits__item
          span Команда опытных специалистов
        li.job-benefits__item
          span Свобода мыслей и действий
        li.job-benefits__item
          span Текст еще одного преимущества
        li.job-benefits__item
          span Текст еще одного преимущества