section.back-nav
  div.container
    ul.back-nav__list
      li.back-nav__item
        a(href="#").back-nav__link Главная 
      li.back-nav__item
        a(href="#").back-nav__link Расписание 
      li.back-nav__item
        a(href="#").back-nav__link Услуги 
      li.back-nav__item
        a(href="#").back-nav__link Клубные карты 