section.start
  div.start__wrapper
    div.start__top
      div.container
        h1.start__title Привилегия
        figure.start__banner
          img(src='./assets/images/start__banner-1.png' alt='Дамочка на тренировке.')
        h1.start__title успешных
    div.start__bottom
      div.container
        nav.start__nav 
          ul.start__nav-list 
            li.start__nav-item
              a(href="#").start__nav-link Услуги 
            li.start__nav-item
              a(href="#").start__nav-link Тренерский состав
            li.start__nav-item
              a(href="#").start__nav-link Клубные карты
            li.start__nav-item
              a(href="#").start__nav-link Расписание
            li.start__nav-item
              a(href="#").start__nav-link Новости
            li.start__nav-item
              a(href="#").start__nav-link Контакты
        a(href="#" data-type='card' data-id='1').button-request.start__button Купить карту