section.gallery
  div.container
    div.gallery__wrapper
      h2.gallery__title Коллаж фотографий
      div.gallery__list
        <!-- В data-original пишем адрес для картинки в большом разрешении. -->
        figure.gallery__item
          img(src="./assets/images/image-big-1.jpg", alt="" data-original="./assets/images/image-big-1.jpg")
        figure.gallery__item
          img(src="./assets/images/image-big-2.jpg", alt="" data-original="./assets/images/image-big-2.jpg")
        figure.gallery__item
          img(src="./assets/images/image-big-3.jpg", alt="" data-original="./assets/images/image-big-3.jpg")
        figure.gallery__item
          img(src="./assets/images/image-big-4.jpg", alt="" data-original="./assets/images/image-big-4.jpg")
        figure.gallery__item
          img(src="./assets/images/image-big-5.jpg", alt="" data-original="./assets/images/image-big-5.jpg")
        figure.gallery__item
          img(src="./assets/images/image-big-6.jpg", alt="" data-original="./assets/images/image-big-6.jpg")