mixin video(props)
  div.video
    div.video__wrapper
      a(href="https://youtu.be/" + props.link target='_blank').video__link
        picture
          source(srcset='' type="image/webp")
          img(src='' alt='').video__media
      button(type="button" aria-label="Запустить видео").video__button
        <svg width="93" height="68" viewBox="0 0 93 68" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M82.8683 2.79678C86.8554 3.89614 89.9954 7.13539 91.061 11.2489C92.9974 18.7043 92.9974 34.2599 92.9974 34.2599C92.9974 34.2599 92.9974 49.815 91.061 57.2709C89.9954 61.3844 86.8554 64.6237 82.8683 65.7236C75.6428 67.721 46.6667 67.721 46.6667 67.721C46.6667 67.721 17.6905 67.721 10.4645 65.7236C6.47739 64.6237 3.33743 61.3844 2.27182 57.2709C0.335938 49.815 0.335938 34.2599 0.335938 34.2599C0.335938 34.2599 0.335938 18.7043 2.27182 11.2489C3.33743 7.13539 6.47739 3.89614 10.4645 2.79678C17.6905 0.798828 46.6667 0.798828 46.6667 0.798828C46.6667 0.798828 75.6428 0.798828 82.8683 2.79678ZM37.9741 20.1674V49.264L61.1394 34.7162L37.9741 20.1674Z" fill="#E92D11"/>
        </svg>
    if(props.text)
      p=props.text