section.main-about
  div.container
    div.main-about__wrapper 
      div 
        h2 О нас
        figure 
          img(src="./assets/images/image-1.jpg", alt="") 
        p Дескриптор или УТП, которое описывает деятельность компании в самом выгодном свете.
      div 
        h3 Дескриптор или УТП, которое <em>описывает деятельность компании</em> в самом выгодном свете. 
        p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов. Дескриптор или УТП, которое описывает деятельность компании в самом выгодном свете. 
        figure 
          img(src="./assets/images/image-2.jpg", alt="") 
