mixin socials(props)
  if props.ver1
    article.socials
      ul.socials__list 
        li.socials__item 
          a(href="#").socials__link
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__telegram') 
        li.socials__item 
          a(href="#").socials__link
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__twitter') 
        li.socials__item 
          a(href="#").socials__link
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__whatsapp') 
              
  else if props.ver2
    article.socials
      ul.socials__list 
        li.socials__item 
          a(href="#").socials__link
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__vk') 
        li.socials__item 
          a(href="#").socials__link
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__twitter') 
        li.socials__item 
          a(href="#").socials__link
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__youtube') 
              
  else if props.ver3
    article.socials
      ul.socials__list 
        li.socials__item 
          a(href="#").socials__link
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__vk') 
        li.socials__item 
          a(href="#").socials__link
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__twitter') 
        li.socials__item 
          a(href="#").socials__link
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__youtube') 
              
  else if props.ver4
    article.socials
      ul.socials__list 
        li.socials__item 
          a(href="#").socials__link.socials__link--copy
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__link') 
        li.socials__item 
          a(href="#").socials__link
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__vk') 
        li.socials__item 
          a(href="#").socials__link
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__twitter') 
        li.socials__item 
          a(href="#").socials__link
            svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-social__youtube') 
              