div.question.accordion
  div.question__container.accordion__container
    div.question__header.accordion__header
      p.question__title Текст вопроса, который может быть очень длинным
    div.question__inner.accordion__inner
      div.question__answer.accordion__answer
        p Описывает деятельность компании в самом выгодном свете. Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки.
        p Описывает деятельность компании в самом выгодном свете. Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки.

div.question.accordion
  div.question__container.accordion__container
    div.question__header.accordion__header
      p.question__title Текст вопроса
    div.question__inner.accordion__inner
      div.question__answer.accordion__answer
        p Дескриптор или УТП, которое описывает деятельность компании в самом выгодном свете. Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов.
div.question.accordion
  div.question__container.accordion__container
    div.question__header.accordion__header
      p.question__title Вопрос, который может быть очень длинным
    div.question__inner.accordion__inner
      div.question__answer.accordion__answer
        p Описывает деятельность компании в самом выгодном свете. Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки.
        p Дескриптор или УТП, которое описывает деятельность компании в самом выгодном свете. Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов.
        p Описывает деятельность компании в самом выгодном свете. Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки.

div.question.accordion
  div.question__container.accordion__container
    div.question__header.accordion__header
      p.question__title Текст вопроса
    div.question__inner.accordion__inner
      div.question__answer.accordion__answer
        p Описывает деятельность компании в самом выгодном свете. Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки.
        p Дескриптор или УТП, которое описывает деятельность компании в самом выгодном свете. Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов.

div.question.accordion
  div.question__container.accordion__container
    div.question__header.accordion__header
      p.question__title Вопрос, который может быть очень длинным
    div.question__inner.accordion__inner
      div.question__answer.accordion__answer
        p Описывает деятельность компании в самом выгодном свете. Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки.