section.plug
  div.plug__main
    figure.plug__logo
      img(src="./assets/images/logo--black.svg" alt="")
    div
      p.plug__text Старт предпродаж клубных карт
      a(href="tel:88463131313").plug__link 8 (846) 313-13-13
  figure.plug__banner
    img(src="./assets/images/plug-1.jpg" alt="")