div.breadcrumbs
  div.container
    ul.breadcrumbs__list
        li.breadcrumbs__item
          a(href='#') Главная
        li.breadcrumbs__item
          a(href='#') Тренерский состав
        li.breadcrumbs__item
          a(href='#') Страница тренера
        li.breadcrumbs__item
          span Страница Вакансии