include ../request/request

div.request-wrapper

  figure.request-wrapper__banner
    img(src="./assets/images/image-2.jpg" alt="")

  div.request-wrapper__main
    div.request-wrapper__content
      +request({
        title: 'Оставьте заявку',
      })



