include ../request/request
include ../slider/slider

mixin request-wrapper(props)

  div.request-wrapper

    div.request-wrapper__media
      if props.slider
        +slider({
          autoplay: true,
          banner: true,
        })
      if props.banner
        figure 
          img(src="./assets/images/image-4.jpg", alt="")

    div.request-wrapper__main
      div.request-wrapper__content
        +request({
          title: props.title,
        })



